.container {
    display: flex;
    grid-column: 5/13;
    gap: 2;
    height: 700px;
}

.container .card {
    flex-grow: 1;

    background-position: center top;
    background-size: auto 100%;
    background-repeat:no-repeat;
    flex-grow: 1;
    transition: width 300ms ease;

    width: 33%;

    padding: 1rem;

}

.container .card:hover {
    width: 100%;
}

.imageOne {
    border-radius: .5rem;

    height: 100%;
    background-position: center;
    background-image: url("https://images.pexels.com/photos/167964/pexels-photo-167964.jpeg?auto=compress&cs=tinysrgb&w=600&h=550&dpr=2");
}
.imageTwo {
    border-radius: .5rem;

    height: 100%;
    background-position: center;
    background-image: url("https://images.pexels.com/photos/35183/people-homeless-man-male.jpg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
}
.imageThree {
    border-radius: .5rem;

    height: 100%;
    background-position: center;
    background-image: url("https://images.pexels.com/photos/356147/pexels-photo-356147.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
}

